/* bases*/

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100vw;
	width: 100vw;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	overflow-y: hidden;
	margin: 0;
	padding: 0;
}

/* FOOTER */

footer {
	position: fixed;
	width: 100%;
	bottom: 0em;
	margin: 1em;
    z-index: 10;
}

/* Bio*/

.bio {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;
}

h1 {
	font-size: 1em;
	font-weight: normal;
}

.name, .contactbox {
	flex-grow: 1;
}

/* Contact*/

.contact {
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
}

.contact a:hover {
	text-decoration: underline;
}

.cv, .insta {
	margin-right: 1.5em;
}

.mail {
	margin-right: 3em;
}

.foot {
	font-size: 1em;
	text-decoration: none;
	color: black;
}

/* Questions*/

.container {
	display: flex;
	flex-wrap: nowrap;
	top: 0;
	height: 93vh;
	position: relative;
	width: 100%;
	z-index: 1;
}

.q {
	overflow-y: auto;
	width: 100%;
	padding-right: 50%;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}

.q::-webkit-scrollbar {
	display: none;
}

ul {
	list-style-type: decimal;
	font-size: 3em;
	padding-left: 1.5em;
	padding-top: 0.2em;
	padding-bottom: 1em;
}

li a {
	text-decoration: none;
	color: black;
	font-weight: normal;
}

li a:hover {
	color: lightgrey;
}

.fillbox {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 1em;
	width: 6.5em;
	border: none;
 	border-bottom: 1.4px solid black;
}

p {
	hyphens: none;
}


/* IPAD and IPHONE*/

@media (max-width:950px) {
	
	/* footer*/

	.bio {
		flex-wrap: wrap;
	}

	.contact a {
		text-decoration: underline;
	}

	.contact a:hover {
		text-decoration: none;
	}

	/* questions*/

	.container {
		height: 90vh;
	}

	.q {
		padding-right: 0.5em;
	}

	ul {
		padding-bottom: 0.5em;
		padding-right: 0.5em;
	}

	li a:hover {
		color: black;
	}

	li p {
		font-size: 2em;
	}

}


/*IPHONE SPECIAL*/

@media (max-width:700px) {
	.contact {
		justify-content: flex-start;
	}

}




