/* bases*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	overflow-y: hidden;
	margin: 0;
	padding: 0;
}

/* FOOTER */

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
    z-index: 10;
    right: -1.5em;
    padding-bottom: 1em;
    background-color: white;
}

/* Bio*/

.bio {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;
}

.bio-expanded {
	max-width: 30em;
	display: none;
}
.expanded .bio-expanded {
	display: block;
}

.name-button {
	appearance: none;
	background: none;
	border: 0;
	cursor: pointer;
	font-size: 15px;
	text-decoration: underline;
}

h1 {
	font-size: 1em;
	font-weight: normal;
}

.name, .contactbox {
	flex-grow: 1;
	display: inline-block;
}

/* Contact*/

.contact {
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
	float: right;
}

.contact a:hover {
	text-decoration: underline;
}

.cv, .insta {
	margin-right: 1.5em;
}

.mail {
	margin-right: 3em;
}

.foot {
	font-size: 1em;
	text-decoration: none;
	color: black;
}

/* phone menu hidden*/

.phonemenu {
	display: none;
}

/* Container */

.container {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	height: 93vh;
	position: relative;
	width: 100%;
	will-change: overflow; 
	z-index: 1;
}

.item {
	width: 50%;
}

.answers, .q {
	overflow-y: auto;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}

/* Question */

.q::-webkit-scrollbar {
	display: none;
}

ul {
	list-style-type: lower-alpha;
	font-size: 2.5vw;
	padding-left: 1.5em;
	padding-top: 0.2em;
	padding-bottom: 1em;
}

li a {
	text-decoration: none;
	color: black;
	font-weight: normal;
}

li a:hover {
	color: lightgrey;
}


/* Answers */

.answers {
	direction: rtl;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.6em;
	border-left: solid lightgrey 1.4px;
}

.otherway {
	direction: ltr;
}

.answers::-webkit-scrollbar {
	width: 1.4px;
}

.answers::-webkit-scrollbar-thumb {
  	background: black;
}

/* texts style*/

h3 {
	font-size: 2.5vw;
	margin-bottom: 0.5vw;
}

h4 {
	font-size: 1.5vw;
	margin-top: 0.5vw;
	text-decoration: underline;
	font-weight: normal;
}

.answers p {
	font-size: 1.5vw;
	margin-bottom: 0.5vw;
}

p {
	hyphens: none;
}

/* img*/

img {
	width: 47vw;
	height: auto;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

/* slideshow*/

.w3-display-container {
	position: relative;

}

.w3-display-left {
	position: absolute;
	bottom: 0.2em;
	font-size: 3em;
	left: 0.5em;
	border: none;
	background-color: inherit;
}

.w3-display-left:hover {
	color: lightgrey;
}

.w3-display-right {
	position: absolute;
	bottom: 0.2em;
	left: 1.5em;
	font-size: 3em;
	border: none;
	background-color: inherit;
}

.w3-display-right:hover {
	color: lightgrey;
}

/* video*/

iframe {
	width: 48vw;
	margin-bottom: 1vw;
}

/* LIGHTBOX */
.lightbox {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100vw;
	height: 100vh;
	background-color: rgba(185, 185, 185, .6);
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: 100ms;
}

.lightbox.active {
	pointer-events: all;
	opacity: 1;
}

/* IPAD and IPHONE*/

@media (max-width:950px) {
	/* footer*/

	footer {
		right: none;
	}

	.bio {
		flex-wrap: wrap;
		align-items: flex-end;
	}

	.contact {
		left: 0;
	}

	.contact a {
		text-decoration: underline;
	}

	.contact a:hover {
		text-decoration: none;
	}

	/* phone menu showing */

	.phonemenu {
		display: inline-block;
		position: fixed;
		text-decoration: none;
		padding-left: 1em;
		padding-top: 0.2em;
		z-index: 9;
	}

	.menu {
		color: lightgrey;
		text-decoration: underline;
		font-size: 4.9vw;
		margin-bottom: 1em;
		font-weight: normal;
	}

	/*Container*/

	.container {
		height: 94vh;
	}

	/*Question*/

	.q {
		display: none;
	}

	.item {
		width: 100%;
	}

	ul {
		font-size: 4.9vw;
	}

	/*Answers*/

	.answers {
		padding-top: 6vw;
		padding-left: 0;
		padding-right: 0;
		border-left: none;
	}

	.answers::-webkit-scrollbar {
		display: none;
	}

	h3 {
		text-align: center;
		font-size: 8vw;
	}

	h4 {
		font-size: 5vw;
	}

	.answers p {
		font-size: 5vw;
	}

	/*image*/

	img {
		width: 100vw;
		margin: auto;
	}

	.zoom {
		margin-bottom: 2vw;
		margin-top: 2vw;
	}

	/*video*/

	iframe {
		width: 80vw;
		margin-bottom: 2vw;
		margin: auto;
		display: block;
	}

}

/*IPHONE SPECIAL*/

@media (max-width:700px) {
	
	.contact {
		justify-content: flex-start;
	}

	.container {
		height: 90vh;
	}

}




